<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/podcasts/new.css" />
<%- include('../partials/nav') %>

<section id="show-page">
    <div> Title: </div>
</section>
<%- include("../partials/footer") %>